/* === CSS Reset === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px; /* Basis f체r Rems */
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  color: #ffff;
  background: #000;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* Bilder responsiv */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Verstecktes Element */
[hidden] {
  display: none !important;
}

/* header */
header {
  display: flex;
  justify-content: center;
  height: 128px;
}

.fotogram_logo {
  height: 112px;
  width: auto;
}
/* main */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px; 
  box-sizing: border-box;
  box-shadow: 0 0 16px #fff;
  margin: 24px;
  flex: 1;
}

.main-content {
  width: 100%;
}

/* section gallery */
.gallery {
  width: min(1200px, 100%);
  margin-inline: auto;
}

.gallery h2 {
  text-align: center;
  text-shadow: 0 0 8px #fff;
  border: 0px solid #fff;
  border-radius: 8px;
  box-shadow: 0 0 16px #fff;
  display: inline-block;   /* Box nur so breit wie der Text */
  padding: 0 12px;         /* etwas Luft links/rechts */
  margin-top: -32px;       /* hochziehen in den Rahmen */
  background: rgba(0, 0, 0, 0.2);        /* gleicht den Hintergrund vom main */
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 16px;
}

#thumbnail-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  /*  wiederholt und f체llt auf min 160px, max so breit wie es eben zul채sst (fractional unit) */
  gap: 12px;
  width: 100%;
}

#thumbnail-container article {
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 8px;
  background-color: #111;

}

#thumbnail-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* zuschneiden statt verzerren */
  display: block;
  transition: transform .2s ease;
  /* f체r hover in 0.2 sec */

}

#thumbnail-container img:hover {
  transform: scale(1.1);

}

#thumbnail-container figure {
  margin: 0;
}
/* thumbnail braucht keine Beschreibung und nicht noch mehr Abstand */
#thumbnail-container figcaption {
  display: none;
}
